<div class="container">
    <h1>
        Welcome to CSE Motors!
    </h1>
    <%- messages() %>
    <img src="../images/vehicles/delorean.jpg" alt="black and white 1980's DMC Delorean">
    <div class="ad">
        <h2>DMC Delorean</h2>
        <ul>
            <li>3 Cup Holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <p class="button"><a href="/">Own Today</a></p>
    </div>
    <div class="row">
    <div class="reviews column">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride on our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (4/5)</li>
        </ul>
    </div>
    <div class="upgrades column">
        <h2>DMC Delorean Upgrades</h2>
        <div class="upgradeContainer">
            <div class="image">
                <img src="../images/upgrades/flux-cap.png" alt="simple image of a flux capacitor from back to the future">
            </div>
            <div class="image">
                <img src="../images/upgrades/flame.jpg" alt="simple image of flame decals">
            </div>
            <a href="/">
                <div class="description">Flux Capacitor</div>
            </a>
            <a href="/">
                <div class="description">Flame Decals</div>
            </a>
            <div class="image">
                <img src="../images/upgrades/bumper_sticker.jpg" alt="picture of hello world bumper sticker">
            </div>
            <div class="image">
                <img src="../images/upgrades/hub-cap.jpg" alt="picture of a standard hub-cap">
            </div>
            <a href="/">
                <div class="description">Bumper Stickers</div>
            </a>
            <a href="/">
                <div class="description">Hub Caps</div>
            </a>
        </div>
    </div>
    </div>
</div>