<%/* 
Content Heading using the title value in the controller 
*/%>

<h1><%= title %></h1>

<%# display messages if any%>
<%- messages() %>

<%# display errors if any%>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<div class="management">
    <a href="/inv/add-classification"><h3 class="button">Add New Classification</h3></a>
    <a href="/inv/add-inventory"><h3 class="button">Add New Vehicle</h3></a>
</div>

<h2>Manage Inventory</h2>
<p class="managementTable">Select a Classification to View Inventory</p>
<%- classificationSelect %>

<table class="managementTable" id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="../../js/inventory.js"></script>